.navbar {
    margin-top: -10px;
    width: 100%;
    position: fixed;
}


.nav-link {
    color: rgb(17, 4, 4);
}

nav ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    transition: 0.4s ease-in-out;
}

nav ul li{
    color: #ecf0f1;
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
    transition: 0.4s ease-in-out;
}

nav ul li a{
    text-decoration: none;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

.btn-check {
    color: antiquewhite;
    background-color: blanchedalmond;
}

