.main {
    width: 100%;
    height: 600px;
    background: linear-gradient(to top, rgba(0,0,0,0.5)10%, rgba(0,0,0,0.5)10%), url(../media/background2.jpg);
    background-position: center;
    
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

body {
    position: relative;
    margin: 0;
    padding: 0;
    min-height: 100%;
    width: 100%;
}
.title {
    font-family:'Times New Roman', Times, serif;
    font-size: 50px;
    padding-left: 40px;
    margin-top: 9%;
    letter-spacing: 2px;
    color: #ecf0f1;
}

.title2 {
    padding-left: 40px;
    font-family: 'Times New Roman', Times, serif;
    text-align: left;
    font-size: 20px;
    color: rgb(215, 250, 217);
    text-decoration: underline;
}


.icon{
    margin-top: 1.3cm;
    width: 50px;
    float: left;
    height: 70px;
}
.logo{
    color: #86a9bf;
    font-size: 20px;
    font-family: Arial;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
}

ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    text-decoration: none;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    transition: 0.4s ease-in-out;
}

ul li{
    color: #ecf0f1;
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
    transition: 0.4s ease-in-out;
}

ul li a{
    text-decoration: none;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

.navbar {
    position: fixed;
    margin-top: -50px;
}

.par{
    padding-left: 40px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.5px;
    line-height: 30px;
    color: aliceblue;
}

.content {
    margin-top: 3cm;
}

.nav-link {
    color: #ecf0f1;
}

#color {
    background-color: transparent;
    text-decoration: none;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    transition: 0.4s ease-in-out;
}

.footer {
    border-top: solid 1px;
    background-color: transparent;
    width: 100%;
    height: 40px;
    padding-top: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    text-align: left;
    color: #fff;
}

