.navbar {
    margin-top: -10px;
    width: 100%;
    position: fixed;
}


.nav-link {
    color: rgb(17, 4, 4);
}

nav ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    transition: 0.4s ease-in-out;
}

nav ul li{
    color: #ecf0f1;
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
    transition: 0.4s ease-in-out;
}

nav ul li a{
    text-decoration: none;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

#videoQ {
   margin-top: 1rem;;
   background-color: rgb(231, 217, 203);
   color: black;
   width: 2cm;
}
li {
    list-style: none;
  }
  
.bg-black {
    background-color: #000;
  }
  
.grow {
    transition: all .3s ease-in-out;
    border-radius: 5px;
  }
  
.grow:hover {
    transform: scale3d(1.5,1.5,1);  
  }
  
.yt-title {
    color: #fff;
    -webkit-line-clamp: 2;
    font-family: "Roboto","Arial",sans-serif;
    font-size: 1.125rem;
    line-height: 1.625px;
    font-weight: 400;
  }
  
.yt-subtitle {
    color: rgb(170,170,170);    
    font-size: .75rem;
    line-height: 1.125rem;  
  }

